$primary: var(--primary);
$secondary: var(--secondary);
$primary-border-color: var(--primary-border-color);
$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);
$skeleton-base-color: var(--skeleton-base-color);
$skeleton-shine-color: var(--skeleton-shine-color);